

/* Portfolio styles */
.portfolio {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 120PX 0;

} 
.portfolio-container {
    display: block;
}  
.title{
    padding: 0;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    border-radius: 0;

    background-color: var(--white); 
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 

.thumb{
    position: relative;
    overflow: hidden;  
}

.overflow {
     position: absolute;
     top: 0;
     left: 0;

     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--cloud);
     padding: 40px 32px;
     background-color: var(--iris);
     width: 100%;
     height: 100%;

     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-list-item:hover .overflow {
  transform: translateY(0%);
}

 .portfolio-list-item:hover{
         box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 } 

.portfolio-text{
    position: relative;
    z-index: 2;
    padding: 32px 16px;
    text-align: left;
    background-color: var(--white);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid  var(--cornflower);
    border-left: 1px solid  var(--cornflower);
}

/* Footer styles */



.footer-text {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}  
.footer-container1{
    display: block;
    justify-content: start;
    margin-right: 80px;
}
.footer-container1 .subtitle{
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-right: 80px;
    }

.footer-container1 .social-icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap:16px;
}

/* wrap for subscribe block */
.footer-form-wrap {
  display: block;
}

/* paragraph Subscribe */
.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

/* form */
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

/* label */
.footer-subscribe-label {
  display: block;
} 

/* input */
.footer-subscribe-input {
  width: 264px;
  height: 40px;

  border: 1px solid var(--white);
  border-radius: 4px;

  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  padding-left: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white);

  outline: transparent;
}

.footer-subscribe-input::placeholder {
  color: var(--white);
}

/* button */
.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  cursor: pointer;

  background-color: var(--iris);

  border: none;
  border-radius: 4px;
}

/* svg in button */
.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--green);
}

.icon-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container1.icon-social-item:hover,
.footer-container1 .icon-social-item:focus {
  background-color: var(--green);
}

.icon-social {
  fill: var(--white);
}


/* Focus states */
.footer-subscribe-input:focus {
  border-color: var(--green);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal styles */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
    z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background: var(--dairy);
  border-radius: 4px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

/* Form */

.modal-field {
  margin-bottom: 8px;
}

.comment-field {
  margin-bottom: 16px;
}

/* Label */
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);

  display: block;
  margin-bottom: 4px;
}

/* Input wrap */
.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  padding-left: 38px;

  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--iris);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap:focus-within .input-icon {
  fill: var(--iris);
}

.modal-textarea {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  padding: 8px 16px;

  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--iris);
}

/* Privacy */
.modal-privacy {
  margin-bottom: 24px;
}

.modal-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-check-span {
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  margin-right: 8px;
}

.modal-check:checked + .modal-privacy-label .modal-check-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-policy-link {
  color: var(--iris);
  font-size: 12px;
  text-decoration: underline;

}

/* Submit */
.modal-submit {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  cursor: pointer;

  background-color: var(--iris);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}