.hidden {
    display: none;
}   


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --navy-blue: #2E2F42;
  --slate: #434455;
  --light-slate: #8E8F99;
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --cloud: #F4F4FD;
  --green: #31D0AA;
  --cornflower: #E7E9FC;
  --white: #FFFFFF;
  --dairy: #FCFCFC;
--common-black:#2f2F37;

}

body {

    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    font-weight:400;
    font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
ul,ol {
  list-style: none;
}   

/* common */
.container{
    max-width: 320px;
    margin: 0 auto; 
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* Header styles */
.header {
    border-bottom: 1px solid var(--cornflower);
    width: 100%;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-nav {
    display: none;
}  
.address-item {
    display: none;
}   

.logo {
    display: flex;
    padding: 24px 0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: var(--iris);
    text-decoration: none;
    text-transform: uppercase;
} 
.span-logo-dark {
    font-weight: 700;
    color: var(--navy-blue);
}   
.header-logo {
    padding: 16px 0;
    display: block;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
  display: block;
  fill: var(--common-black);
}

@media screen and (min-width: 768px){
.header-nav {
    display: flex;
    align-items: center;
}

.burger-btn {
    display: none;
}

.logo {
    padding: 24px 0;
    margin-right: 120px;
} 

.main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}  

.main-nav-list{
    padding: 24px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navy-blue);
   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
address {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:flex-end;
    margin-left: auto;
    font-style: normal;
} 
.address-item{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px  ;

}
.address-item-list{
    display: block;
    color: var(--slate);
    letter-spacing: 0.04em;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.17;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.main-nav-list.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.main-nav-list.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
}
  
.main-nav-list:hover,
.main-nav-list:focus,
.address-item-list:hover,
.address-item-list:focus,
.main-nav-list.current {
    color: var(--ocean);
}
}

@media screen and (min-width: 1158px) {
    .logo {
    padding: 24px 0;
    margin-right: 76px;
} 
.address-item{
    margin: 0;
    flex-direction: row;
    align-items: center;
    gap: 40px  ;

}
.address-item-list{
    padding: 24px 0;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;

} 
    
}

/*mobile menu styles*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 1000;
    padding: 0 16px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;

    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-link{
    display: block;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: var(--navy-blue);
    font-weight: 700;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link.current {
    color: var(--ocean);
} 

.mobile-menu-link:hover,
.mobile-menu-link:focus{
    color: var(--ocean);
}

.address-item-mobile{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.address-list-mobile{
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--slate);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-mobile.current {
    color: var(--ocean);
}
.address-list-mobile:hover,
.address-list-mobile:focus {
    color: var(--ocean);
}


.mobile-social {
    display: flex;
    justify-content: center;
    height: 40px;

}
.social-icons-list-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    gap: 40px;
    width: 24px;
    height: 24px;
    fill: var(--slate);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-item:hover,
.mobile-icon-item:focus {
  background-color: var(--green);
}

.icon-social {
  fill: var(--white);
}

@media screen and (min-width: 768px) {
    .mobile-menu    {
        display: none;
    }               
} 

/*hero section*/
.hero-section {
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center; /* горизонталь */
    align-items: center;     /* вертикаль */
    
    background-color: var(--navy-blue);
    background-image:
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 767px;
  
}
.hero-section-title {
    max-width: 216px;
    padding-bottom: 48px   ;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
.button {
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    align-items: flex-start;    
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.button:hover,
.button:focus {
 background-color: var(--ocean); 
}
@media screen and (min-width: 768px) {
    .hero-section {
        padding: 112px 0;
        max-width: 768px;
    }
    .hero-section-title {
        max-width: 496px;
        font-size: 56px;
    }
}
@media screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
        max-width: 1440px;
    }
}
/* Features styles */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin: 0;
    padding: 96px 0;
}
.features-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;

}
.features-icon {
    display: none
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}
.features-list {
    list-style: none;
    flex-basis: 100%;

}   
.subtitle {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 00;
    line-height: 1.11em;
    letter-spacing: 0.002em;
    color: var(--navy-blue);

}

.list-text {
    color:  var(--slate);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;

}
@media screen and (min-width: 768px) {
    .features {   
         padding: 96px 0;
}
    .features-container {
        display: inline-flex;
        align-items: flex-start;
        gap: 24px;

}
    .features-list {
        flex-basis: calc((100% - 24px) / 2);

    } 

}
@media screen and (min-width: 1158px) {
    .features {   
         padding: 120px 0;
}

    .features-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;

}
    .features-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        border-radius: 4px;
        border: 1px solid var(--light-slate);
        background: var(--cloud);
}
        .icon {
        display: block;
        margin: 24px auto;
}
    .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;

        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        white-space: nowrap;
        border: 0;
}
    .features-list {
        list-style: none;
        flex-basis: calc((100% - 3 * 24px) / 4)

}   
    .subtitle {
        margin-bottom: 8px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.4px;
        color: var(--navy-blue);
}

    .list-text {
        color:  var(--slate);
        letter-spacing: 0.02em;
        font-weight: 400;


}
}

/* Team styles */
.team {
    display: block;
    align-items: center;
    background-color: var(--cloud);
    padding: 96PX 0;
} 
.team-container {
    display: block;

}
.title {
    padding-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);

}
.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
    flex-basis: 100%;
} 
.team-list-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: var(--white);
}  
.container-text{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    text-align: center;
}
.list-text{
    margin-bottom: 8px;
}
.social-icons-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
 
}
.icon-social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-social-item:hover,
.icon-social-item:focus{
   background-color: var(--ocean); 
}

.icon-social{
    display: block;
    justify-content: center;
    align-items: center;
    fill: var(--cloud);
}
@media screen and (min-width: 768px) {
    .team {
        padding: 96px 0;
} 
    .team-list {
        flex-basis: calc((100% - 2*24px) / 2);
        gap: 24px;
}  
} 
@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
} 
} 
/* Portfolio styles */
.portfolio {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 96PX 0;

} 
.portfolio-container {
    display: block;
} 
.title{
    padding: 0;
    margin-bottom: 72px;
    font-family: Roboto;


}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.portfolio-list-item {
    flex-basis: 100%;
    border-radius: 0;

    background-color: var(--white); 
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 
.thumb{
    position: relative;
    overflow: hidden;  
}
.overflow {
     position: absolute;
     top: 0;
     left: 0;

     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--cloud);
     padding: 40px 32px;
     background-color: var(--iris);
     width: 100%;
     height: 100%;

     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-list-item:hover .overflow {
  transform: translateY(0%);
}
 .portfolio-list-item:hover{
         box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 } 
 .portfolio-text{
    position: relative;
    z-index: 2;
    padding: 32px 16px;
    text-align: left;
    background-color: var(--white);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid  var(--cornflower);
    border-left: 1px solid  var(--cornflower);
}
.subtitle{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em; /* 120% */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.list-text{
    color:  var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
@media  screen and (min-width: 768px) {
    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    
}
}

@media  screen and (min-width: 1158px) {
    .portfolio {
    padding: 120PX 0;
    }
    .portfolio-list-item {
        flex-basis: calc((100% - 48px) / 3);
    
}
    .subtitle{

    font-weight: 500;
    line-height: 1.2em; /* 120% */
}
}

/* Footer styles */
.footer {
    margin: 0;
    padding: 96px 0;
    background-color: var(--navy-blue);
    color: var(--white);
}   
.container.footer-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.footer-container{
    display: block;
    justify-content: center;
    align-self: center;

}
.footer-container .logo{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding: 0;    
} 
.span-logo-light {
    color:  var(--cloud);
}
.footer-text {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);

}  
.footer-container1{
    display: block;
    justify-content: center;
    align-items: center;

}
.footer-container1 .subtitle{
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;

    }

.footer-container1 .social-icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap:16px;
}
/* wrap for subscribe block */
.footer-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* paragraph Subscribe */
.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

/* form */
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* label */
.footer-subscribe-label {
  display: block;
}

/* input */
.footer-subscribe-input {
  width: 288px;
  height: 40px;

  border: 1px solid var(--white);
  border-radius: 4px;

  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  padding-left: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white);

  outline: transparent;
}

.footer-subscribe-input::placeholder {
  color: var(--white);
}

/* button */
.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  cursor: pointer;

  background-color: var(--iris);

  border: none;
  border-radius: 4px;
}


/* svg in button */
.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--green);
}

.icon-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.icon-social-item:hover,
.link.icon-social-item:focus {
  background-color: var(--green);
}

.icon-social {
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }

  .container.footer-block {
    display: flex;
    flex-direction: column;
    gap: 72px;

    max-width: 552px;   
    margin: 0 auto;     
    align-items: flex-start; 
  }

  .footer-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
    justify-content: flex-start;
 
  }

  .footer-container .logo {
    justify-content: flex-start;
  }

  .footer-container1 .subtitle {
    margin-right: 0; 
    text-align: left;
  }
   .footer-container1 .social-icons-list {
    justify-content: flex-start;
  }

  .footer-subscribe-form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  .footer-subscribe-label {
    display: block;
  }
    .footer-form-wrap {
    width: 100%;
    align-items: flex-start;
  }

  .footer-subscribe-title {
    text-align: left;
  }

  .footer-subscribe-form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  .footer-subscribe-input {
    width: 264px; 
  }
}


@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  /* контейнер футера розтягується на desktop контейнер і стоїть по центру */
  .container.footer-block {
    max-width: 1158px;
    margin: 0 auto;

    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }

  /* ліва група (лого+текст + social) в один ряд */
  .footer-info {
    width: auto;
    flex-direction: row;
    align-items: baseline;
    gap: 120px; /* відступ між лівим блоком і social */
  }

  /* subscribe блок відсуваємо вправо */
  .footer-form-wrap {
    width: auto;
    margin-left: auto;
    align-items: flex-start;
  }

  /* форма subscribe в один ряд */
  .footer-subscribe-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-subscribe-input {
    width: 264px;
  }
  
}


/* Modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;

  /* mobile layout */
  width: calc(100% - 32px);     /* 16px зліва/справа */
  max-width: 392px;
  max-height: calc(100vh - 16px);
  overflow-y: auto;

  padding: 72px 16px 24px;

  background: var(--dairy);
  border-radius: 4px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Close button */
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white);
}

/* Title */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

/* Fields */
.modal-field {
  margin-bottom: 8px;
}

.comment-field {
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

/* Input + icon */
.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  padding-left: 38px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--iris);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navy-blue);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap:focus-within .input-icon {
  fill: var(--iris);
}

/* Textarea */
.modal-textarea {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  padding: 8px 16px;

  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--iris);
}

/* Privacy */
.modal-privacy {
  margin-bottom: 24px;
}

.modal-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-check-span {
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-privacy-label .modal-check-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-policy-link {
  color: var(--iris);
  font-size: 12px;
  text-decoration: underline;
}

/* Submit */
.modal-submit {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  cursor: pointer;

  background-color: var(--iris);
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--ocean);
}


@media screen and (min-width: 768px) {
  .backdrop {
    padding: 0;
  }

  .modal {
    width: 408px;
    max-width: 408px;

    min-height: 584px;     /* щоб виглядало як дизайн */
    max-height: none;
    overflow-y: visible;

    padding: 72px 24px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
